/*  your css code here. If applicable */
.container{
	background-color: rgb(211, 211, 211);
	padding: 10px;
}
.nav-bar{
	background-color: #D3D3D3;
	padding: 10px;	
}
ul{	
	display: flex;
}
li{
	margin-right: 1rem;
	list-style-type: none;
}
a{
	text-decoration: none;
}